.formInput {
    display: flex;
    align-items: center;
    position: relative;

}

.logo {
    position: absolute;
    left: -110px;
}

.input {
    border: 1px solid gold;
    width: 100%;
    margin-left: 10px;
    height: 30px;
}

.btn {
    border: 1px solid gold;
    min-width: 200px;
    height: 34px; 
    background-color: gold;
    margin-bottom: 24px;
    margin-left: 15px;
}

.linkSpan {
    text-decoration: none;
    opacity: 0.2;
    margin-left: 10px;
    
}

.inputSpan {
    width: 80%;
    margin-left: 20px;
}

.span {
    margin-left: 20px;
    margin-top: 5px;
    
}