.newsLink {
    text-decoration: none;
    color: black;
    margin: 10px;
    
    font-size: 15px;
    font-family: 'Helvetica', 'Arial', Sans-serif;
    display: flex;
    align-items: center;
}

.newsIcon {
    width: 17px;
    height: 17px;
    margin: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}